apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: apis-applicationset
  namespace: argocd
spec:
  generators:
    - list:
        elements:
          - name: api-one
            namespace: team-a
            valuesFile: environments/team-a/api-one.yaml

          - name: api-two
            namespace: team-a
            valuesFile: environments/team-a/api-two.yaml

          - name: api-three
            namespace: team-a
            valuesFile: environments/team-a/api-three.yaml

          - name: api-four
            namespace: team-a
            valuesFile: environments/team-a/api-four.yaml

          - name: api-five
            namespace: team-b
            valuesFile: environments/team-b/api-five.yaml

  template:
    metadata:
      name: '{{name}}'
    spec:
      project: default
      source:
        repoURL: https://github.com/your-org/gitops-repo.git
        targetRevision: main
        path: charts/common-api
        helm:
          valueFiles:
            - ../../{{valuesFile}}
      destination:
        server: https://kubernetes.default.svc
        namespace: '{{namespace}}'
      syncPolicy:
        automated:
          prune: true
          selfHeal: true
        syncOptions:
          - CreateNamespace=true